html {
    height: 100%;
}
body {
    padding-top: 80px;
}
.fa-train {
    color: #337ab7;
}
.fa-train:hover {
    color: #286090;
}
.caption p {
    margin-top: 10px;
}
.info p {
    display: inline;
}
.info-main {
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.choochoo {
    margin-left: 10px;
}
.panel-title {
    text-align: center;
}
.sub-confirm>.modal-header, .sub-confirm>.modal-footer {
    border: none;
}
@media screen and (max-width: 364px) {
    .navbar-brand>span {
        display: none;
    }
}
