html {
    height: 100%;
}
body {
    padding-top: 80px;
}
.fa-train {
    color: #337ab7;
}
.fa-train:hover {
    color: #286090;
}
.navbar-right~.navbar-right {
    margin-right: 10px;
}
.jumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
}
.panel-title {
    text-align: center;
}
.sub-confirm>.modal-header, .sub-confirm>.modal-footer {
    border: none;
}
@media screen and (max-width: 364px) {
    .navbar-brand>span {
        display: none;
    }
}
