html {
    height: 100%;
}
body {
    padding-top: 80px;
}
h1, h3 {
    text-align: center;
}
.choochoo {
    margin-right: 10px;
}
.sub-confirm>.modal-header, .sub-confirm>.modal-footer {
    border: none;
}
@media screen and (max-width: 364px) {
    .navbar-brand>span {
        display: none;
    }
}
